.button {
  height: 40px;
  border-radius: var(--border-radius-md);
  border: none;
  background-color: blue;
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
